/**
 * For the admin page
 * endpoint.scss
 */

/*.space-margin-top{margin-top:20px;}

.list-thumbnail{width:70px;height:70px;overflow:hidden;line-height:70px;}
.list-thumbnail > img{width:100%;vertical-align:middle;}*/
$app: '.catcha';
$prefix: 'c';

#{$app}.#{$prefix}-body {
  background: #f6f6f6;
}

.#{$prefix}-container {
  display: flex!important; 
  justify-content: center; 
  align-items: center;
  background: #3fcab8;
}

#{$app}.#{$prefix}-content {
  padding-top: 60px;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 20px;
}

.dragging {
  opacity: 0.3!important;
}

@import './login.scss';
@import './header.scss';
@import './image.scss';
@import './cursor.scss';
@import './alignment.scss';
@import './form.scss';
@import './margin.scss';
@import './button.scss';