$prefix: 'c-alignment';

#{$app}.#{$prefix}-inline {
  display: inline;
}

#{$app}.#{$prefix}-title-card { 
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  .title {
    flex: 1 1 auto;
    margin: 0px;
  } 

  .actions {

  }
}




/*#{$app}.#{$prefix}-text-cen*/